FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=CAMBIAR-POR-UNA-CLAVE-SEGURA
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=inventario_escolar
DATABASE_URL=postgresql://tu_usuario:tu_contraseña@db:5432/inventario_escolar
